<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
  <nav class="navbar navbar-inverse navbar-dark bg-primary bodermenu">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle boderbutton" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav size">
          <li>
            <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li>
            <a routerLink="/cats" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-list"></i> Peoples
            </a>
          </li>
          <li>
            <a routerLink="/doors" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-microchip"></i> Doors Management
            </a>
          </li>
          <li>
            <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              <i class="fa fa-sign-in"></i> Login
            </a>
          </li>
          <li>
            <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              <i class="fa fa-user-plus"></i> Register
            </a>
          </li>
          <li>
            <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
            </a>
          </li>
          <li>
            <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-lock"></i> Managers
            </a>
          </li>
          <li>
            <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
