<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <!-- <h4 class="card-header">Current peoples ({{cats.length}})</h4> -->
  <div class="card-header">
    <div class="row">
      <div class="col-md-4 carHeaderTitel">
        <h4>Current peoples ({{cats.length}})</h4>
      </div>
      <div class="col-md-8" *ngIf="!isEditing">
        <button class="btn btn-sm btn-primary" (click)="addCat()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <input type="text" id="myInput" (keyup)="searchPeopleByName()" placeholder="Search for names..">
  </div>
  <div id="myTable" class="card-block">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Room</th>
          <th>Role</th>
          <th>Photos</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cats.length === 0">
        <tr>
          <td colspan="6">There are no peoples in the DB. Add a new people below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cat of cats">
          <td>{{cat.username}}</td>
          <td>{{cat.name}}</td>
          <td>{{cat.room}}</td>
          <td>{{cat.role}}</td>
          <td>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-info">
              <i class="fa fa-camera"></i>
            </button>
            <button class="btn btn-sm btn-success">
              <i class="fa fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="6">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="username" [(ngModel)]="cat.username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="weight" [(ngModel)]="cat.room" placeholder="Room" required>
              </div>
              <div class="form-group">
                <select class="form-control" name="role" [(ngModel)]="cat.role">
                  <option value="" selected disabled>Role</option>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <div class="form-group">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i>
                </button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
