<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <div class="card-header" *ngIf="!isEditing">
    <div class="container">
      <table>
        <tr>
          <td class="carHeadertitle">
            <h4>Current peoples ({{cats.length}})</h4>
          </td>
          <td class="carHeaderbutton">
            <button class="btn btn-sm btn-primary" (click)="addCat()">
              <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#cameraModal">
              <i class="fa fa-camera"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-md-9">
        <input type="text" id="myInput" (keyup)="searchPeopleByName()" placeholder="Search..">
      </div>
      <div class="col-md-3">
        <select id="filter" #searchFilter class="form-control form-control-lg hsearch" (change)="getFilter(searchFilter.value)" (click)="checkIfPhoto(searchFilter.value)">
          <option *ngFor="let cate of searchCategory" [value]="cate.id">
            {{cate.value}}
          </option>
        </select>
      </div>

    </div>
  </div>
  <div id="myTable" class="card-block">
    <div style="overflow-x: auto;">
      <table class="table table-bordered table-striped">
        <tbody *ngIf="cats.length === 0">
          <tr>
            <td colspan="7">There are no peoples in the DB. Add a new people below.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEditing">
          <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Room</th>
            <th>Role</th>
            <th>Photos</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let cat of cats">
            <td value="userid">{{cat.userid}}</td>
            <td value="username">{{cat.username}}</td>
            <td value="name">{{cat.name}}</td>
            <td value="room">{{cat.room}}</td>
            <td value="role">{{cat.role}}</td>
            <td>
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)">
                <i class="fa fa-pencil"></i>
              </button>
          <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirmModal" (click)="setDeleteCat(cat)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="isEditing">
          <div class="card-block">
            <form class="" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-list-ol"></i>
                </span>
                <input class="form-control" type="text" name="userid" [(ngModel)]="cat.userid" placeholder="Userid" required disabled>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-id-card-o"></i>
                </span>
                <input class="form-control" type="text" name="username" [(ngModel)]="cat.username" placeholder="Username" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>
                <input class="form-control" type="text" name="room" [(ngModel)]="cat.room" placeholder="Room" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-black-tie" style="padding:0px"></i>
                </span>
                <select class="form-control hs" name="role" [(ngModel)]="cat.role">
                  <option value="" selected disabled>Role</option>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon" data-toggle="modal" data-target="#cameraModal">
                  <i class="fa fa-camera"></i>
                </span>
              </div>
              <div class="float-right float-xs-right float-sm-right float-md-right">
                <button class="btn" (click)="cancelEditing()">
                  <i class="fa fa-arrow-left"> Back</i>
                </button>
                <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"> Save</i>
                </button>
              </div>
            </form>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="cameraModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Camera</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="indentifyByAzure()">Identify</button>
        <button type="button" class="btn btn-success" (click)="genBase64()">base64</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Confirm modal-->
<div class="modal fade" id="confirmModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this employee</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteCat(catToDelete)" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
