<app-toast [message]="toast.message"></app-toast>

<app-loading [condition]="isLoading"></app-loading>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Add People</h4>
  <div class="card-block">
    <form [formGroup]="addPeopleForm" (ngSubmit)="addPeople()">
      <div class="input-group" [ngClass]="setClassUserid()">
        <span class="input-group-addon">
          <i class="fa fa-list-ol"></i>
        </span>
        <input class="form-control" type="text" name="userid" formControlName="userid" placeholder="Userid" [(ngModel)]="randomUserID"
          autofocus disabled>
      </div>
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="input-group-addon">
          <i class="fa fa-id-card-o"></i>
        </span>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassName()">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="input-group" [ngClass]="setClassRoom()">
        <span class="input-group-addon">
          <i class="fa fa-key"></i>
        </span>
        <input class="form-control" type="text" name="room" formControlName="room" placeholder="Room">
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-black-tie"></i>
        </span>
        <select class="form-control hs" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon" data-toggle="modal" data-target="#cameraModal">
          <i class="fa fa-camera"></i>
        </span>
      </div>
      <div class="float-right float-sm-right float-md-right">
        <button class="btn" (click)="goBack()">
          <i class="fa fa-arrow-left"></i> Back</button>
        <button class="btn btn-primary" type="submit" [disabled]="!isValidForm()">
          <i class="fa fa-user-plus"></i> Add</button>
      </div>
    </form>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="cameraModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Camera ({{base64.length}}/{{photoLimit}})</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button *ngIf="base64.length != photoLimit && !takePhoto" type="button" class="btn btn-success" (click)="autoTakePhoto()">Take</button>
        <button *ngIf="base64.length != photoLimit && !takePhoto" type="button" class="btn btn-danger" (click)="resetPhotoArray()">Reset</button>
        <!-- <button *ngIf="base64.length == photoLimit" type="button" class="btn btn-success" data-dismiss="modal">Summit</button> -->
        <button *ngIf="takePhoto" type="button" class="btn btn-success" (click)="stopTakingPhoto()">Stop</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="stopTakingPhoto()">Close</button>
      </div>

    </div>
  </div>
</div>


